{% extends 'dashboard/dashboard_base.html' %}
{% block css %}
<style>
    .header{
        display: flex;
        justify-content: space-between;
    }
</style>
{% endblock  %}
{% block content %}
<h1 class="mt-4">Create Banner</h1>
<div class="header">
    <div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/super_admin/dashboard/">Dashboard</a></li>
            <li class="breadcrumb-item active">Create Banner</li>
        </ol>
    </div>
    <div>
        <a href="/super_admin/banner-list/"class="btn btn-primary btn-sm">
            <i class="fas fa-arrow-left me-1"></i>
            Banner lists
        </a>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Create Banner
    </div>
    <div class="card-body">
        <div class="card-body">
        <form method="post" onsubmit="handleSubmit(event)" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Title</label>
              <input type="text" class="form-control" id="exampleInputName" name="title">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Content</label>
              <input type="text-area" class="form-control" id="exampleInputDescription" name="content">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Link</label>
              <input type="text-area" class="form-control" id="exampleInputDescription" name="link">
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Order</label>
              <input type="text-area" class="form-control" id="exampleInputDescription" name="order">
            </div>
            <div class="mb-3">
              <label for="exampleFeaturedImage" class="form-label">Featured Image</label>
              <input type="file" class="form-control" id="exampleFeaturedImage" name="featured_image">
            </div>
              <div class="mb-3 form-check">
              <label for="exampleIsActive" class="form-label">Is Active</label>
              <input type="checkbox" class="form-check-input" id="exampleIsActive" name="is_active">
            </div>
              <div class="mb-3">
              <label for="exampleInputDescription" class="form-label">Created_at</label>
              <input type="text-area" class="form-control" id="exampleInputDescription" name="created_at">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}